.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.main__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
  color: #151618;
  font-family: 'Cormorant', serif;
}

/* -----------------------------------------------------Header------------------------------ */
.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8.875rem;
  margin: 1.875rem 0 1.75rem;
}

.logo {
  align-self: flex-start;
}

.menu--open-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu--open-bg.menu__list--open {
  display: block;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  gap: 4.05rem;
  font-size: 1.125rem;
}
.menu__close {
  display: none;
}
.menu__close-btn {
  background-color: transparent;
}

.menu__link {
  color: #151618;
}

.mobile-nav {
  display: none;
}

.user-actions {
  display: flex;
  gap: 1.25rem;
  min-width: 180px;
  justify-content: space-between;
}

.user-actions__item:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* ----------------------------------------------Header_top------------------------------------- */
.top {
  background-image: url('../images/Header_top_bg.jpeg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}
.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0 0 3rem;
  min-height: 500px;
  color: #ffffff;
  font-family: 'Cormorant', serif;
}
.top__title {
  font-size: 3.75rem;
  max-width: 780px;
}
.top__text {
  font-size: 1.5rem;
  max-width: 560px;
  line-height: 1.81rem;
}
.blockquote {
}
.blockquote__text {
  font-family: 'Cormorant', serif;
  max-width: 704px;
  font-style: italic;
  text-align: center;
  margin: 150px auto;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 300;
}
.blockquote__text span {
  position: relative;
  z-index: -1;
}

.blockquote__text span::after {
  content: '';
  width: 359px;
  height: 61px;
  position: absolute;
  background-color: #f7f2ea;
  z-index: -1;
  left: 0;
  top: 0;
}

/* ----------------------------------------------Assortment------------------------------------- */
.assortment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 150px 0;
}
.assortment__title {
}
.assortment__list {
  display: flex;
  gap: 40px;
  text-align: center;
}
.assortment__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}
.assortment__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-family: 'Cormorant', serif;
}

/* ----------------------------------------------Client_review------------------------------------- */
.main-bg {
  background-color: #f7f2ea;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
  margin: 150px 0;
}
.reviews__list {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.reviews__item blockquote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Open Sans', sans-serif;
  max-width: 280px;
}
.reviews-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  font-style: italic;
}
.reviews-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

/* ----------------------------------------------Media_queries------------------------------------- */
@media (max-width: 1001px) {
  .container {
    max-width: 1000px;
  }
  .header__inner {
    min-height: 105px;
    margin: 1.875rem 0;
  }
  .menu__list {
    gap: 2.5rem;
  }
  .user-actions {
    min-width: 130px;
  }
  .blockquote__text {
    margin: 120px auto;
  }
  .blockquote__text span::after {
    width: 339px;
  }
  .assortment {
    gap: 30px;
    margin: 135px 0;
  }
  .assortment__list {
    gap: 0;
  }
  .reviews {
    margin: 120px 0;
  }
  .reviews__list li:last-child {
    display: none;
  }
}
@media (max-width: 769px) {
  .header__inner {
    max-width: 640px;
    margin: 30px auto;
  }
  .blockquote__text span::after {
    width: 100%;
  }
  .menu__btn {
    display: flex;
    gap: 6px;
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
  }
  .menu__btn span {
    width: 100%;
    border: 1px solid black;
    z-index: 2;
  }
  .menu {
    z-index: 3;
    background-color: #ffffff;
  }
  .menu__list {
    position: absolute;
    top: 0;
    left: calc(50% - 180px);
    transform: translateY(-100%);
    transition: all 0.6s ease;
    max-width: 360px;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }
  .menu__list--open {
    transform: translateY(0%);
  }
  .menu__list .menu__item:nth-child(2) {
    margin: 60px 0 0;
  }
  .menu__link {
    font-family: 'Cormorant', serif;
    font-size: 24px;
  }
  .menu__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    gap: 35px;
    margin: 30px 0 0;
    padding: 60px 85px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-menu__link {
    color: #151618;
  }
  .mobile-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px 0 18px;
    background-color: #f7f2ea;
  }
  .logo {
    position: absolute;
    left: calc(100% / 2 - 37px);
  }
  .assortment {
    gap: 40px;
  }
  .assortment__list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 6px;
  }
  .reviews__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px 76px;
  }
  .reviews__list li:last-child {
    display: block;
  }
}
@media (max-width: 481px) {
  .container {
    padding: 0 10px;
  }
  .logo {
    left: calc(100% / 2 - 19.725px);
  }
  .logo img {
    max-height: 56px;
  }
  .header__inner {
    min-height: 56px;
    margin: 0.625rem 0;
  }
  .top__title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .blockquote__text {
    margin: 60px auto;
    font-size: 16px;
    line-height: 1.375rem;
    max-width: 376px;
  }
  .blockquote__text span::after {
    width: 100%;
    height: 100%;
  }
  .assortment {
    margin: 60px 0;
    gap: 30px;
  }
  .assortment__list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 6px;
  }
  .assortment__img {
    max-width: 150px;
    max-height: 208px;
    width: 100%;
  }
  .reviews__list {
    gap: 30px 20px;
  }
  .reviews {
    gap: 50px;
    padding: 50px 0;
    margin: 60px 0;
  }
}
@media (max-width: 361px) {
  .main__title {
    font-size: 24px;
    line-height: 29px;
  }
  .menu__list {
    left: 0;
  }
  .top__inner {
    min-height: 367px;
  }
  .top__title {
    font-size: 24px;
    line-height: 29px;
  }
  .top__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
  }
  .blockquote__text {
    margin: 70px auto 80px;
  }
  .user-actions {
    min-width: 100px;
  }
  .user-actions__item:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
  }
  .assortment {
    margin: 80px 0;
    gap: 0;
  }
  .assortment__list {
    gap: 0;
  }
  .assortment__img {
    max-width: 115px;
    max-height: 208px;
    width: 100%;
  }
  .reviews {
    gap: 30px;
    margin: 80px 0;
  }
  .reviews__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .reviews__item blockquote {
    max-width: 340px;
  }
  .reviews__list li:nth-child(3),
  .reviews__list li:nth-child(4) {
    display: none;
  }
  .reviews__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
}
